body {
    margin: 0;
    padding: 0;
}


/*hero image*/

.hero {
    background: #DDD url('../assets/images/hero.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
    position: relative;
}

.hero__text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.hero__title {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

.hero__button {
    display: inline-block;
    padding: 12px 20px;
    background: #333;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 20px;
}

.hero__button:hover {
    color: #333;
    background: #FFF;
    zoom: 120%;
    transition: ease-in 0.2s;
}


/*navigation menu*/

#navIcon img {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    right: -25px;
    top: -60px;
    margin: 0;
    padding: 0;
    height: 1000px;
    z-index: 1;
    transition: 0.4s;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(0, 120, 150, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.navigation a:hover {
    color: #f1bf2f;
}

.navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*Scroll knop*/

#naarBoven {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 135px;
    /* Place the button at the bottom of the page */
    right: 45%;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    /* Set a background color */
    color: #FFF;
    background-color: rgba(0, 40, 50, 0.5);
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 10px;
    font-weight: 900px;
    transition: 0.8s;
}

#naarBoven:hover {
    color: #f1bf2f;
    /* Add a dark-grey background on hover */
}


/*profiel*/

.photo_profile {
    display: block;
    margin-left: 0;
    padding-left: 0;
}

.photo_background {
    display: block;
    background-image: url(../assets/images/background.png);
    height: 100%;
}

.photo_background p {
    color: #fff;
}


/*portfolio*/

.portfolio h1,
.portfolio h2 {
    color: rgba(0, 40, 50, 1);
}

.portfolio h3 {
    color: rgba(0, 120, 150, 1);
    font-size: 16px;
    font-style: bold;
}

.portfolio_big {
    margin-left: 0;
    padding-left: 0;
}

.portfolio_item {
    margin-top: 5px;
    width: 250px;
    margin-right: 5px;
}

.portfolio_item img {
    margin-top: 20px;
    margin-left: 15%;
}

.whitespace {
    margin-top: 50px;
}

.whitespace.last {
    margin-bottom: 125px;
}


/*about*/

.about_image01 {
    height: 366px;
    background-repeat: no-repeat;
    display: block;
}

.about_image02 {
    height: 366px;
    background-repeat: no-repeat;
    display: block;
}

.about_tekst {
    font-family: Monserrat, serif;
}


/*maps*/

h2#titel_maps {
    font-size: 30pt;
    color: rgba(0, 40, 50, 1);
    margin-top: 0;
    padding-top: 0;
}

.mapouter {
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    background: none;
    height: 500px;
    width: 100%;
}

iframe {
    width: 100%;
    height: 500px;
    border: 0;
    scroll-behavior: unset;
    margin: 0;
}


/* form */

#frmRegistration {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#frmRegistration * {
    box-sizing: border-box;
}

#frmRegistration header {
    text-align: left;
    padding: 0 15px;
    color: #fff;
}

#frmRegistration {
    background: rgba(0, 40, 50, 1);
    border: 1px solid #333;
}

#frmRegistration fieldset {
    margin: 0 0 15px;
    border: 0px;
}

#frmRegistration legend {
    display: none;
}

.frm-field {
    position: relative;
    display: block;
    margin: 0 0 15px;
}

.frm-field label {
    display: block;
    color: #fff;
    margin: 0 0 5px;
}

.frm-field input {
    display: block;
    padding: 5px 35px 5px 10px;
    width: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
    box-shadow: 4px 6px 10px -4px rgba(0, 0, 0, 0.3) inset, 0px 1px 1px -1px rgba(255, 255, 255, 0.3);
    outline: medium none;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Monteserrat', sans-serif;
    font-size: 16px;
    color: #6E6E6E;
    opacity: 0.62;
}

#txtOpmerking {
    height: 200px;
}

.frm-field input:focus {
    opacity: 1;
}

#frmRegistration button {
    width: 80%;
    margin: auto 100px 15px;
    padding: 15px 25px;
    outline: medium none;
    background: #28D2DE;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.7);
    border: none;
    border-bottom: 4px solid #1a878f;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px #000;
    opacity: 0.66;
    transition: opacity 320ms ease-in 0s;
}

#frmRegistration button:hover,
#frmRegistration button:focus {
    opacity: 1;
    transition: opacity 320ms ease-in 0s;
}

#frmRegistration button:active {
    opacity: 0.26;
    transition: opacity 320ms ease-in 0s;
}


/*footer*/

.footer {
    background-color: rgba(0, 40, 50, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
}

.icons {
    margin-left: 20%;
    margin-bottom: 10%;
    padding: auto;
    width: 45px;
    font-family: Montserrat, sans-serif;
}

.icons.social_media:hover,
.icons.social_media:active {
    width: 60px;
    transition: ease-in 0.2s;
}

footer p {
    color: white;
}

.links a {
    text-decoration-style: none;
}

.links p {
    vertical-align: right;
}

.copyright p {
    margin: 0;
    padding: 0;
    font-size: 8pt;
    margin-bottom: 10%;
}


/*pop up js*/


/* Popup container - can be anything you want */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 15, 25, 0.9);
    color: #fff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: 0;
}

.popup .popuptext img {
    width: 100%;
}

.popup .popuptext p {
    margin: 5px;
    margin-left: 15px;
    font-size: 14px;
}

.popup .popuptext p#right {
    text-align: right;
    margin-bottom: 30px;
}

.popup .popuptext p#left {
    text-align: left;
}


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}